.cases-section,
.content {
    margin-bottom: 90px;
    margin-top: 90px;
}

.total-cases p {
    color: #555555;
    font-weight: 500;
    font-size: 20px;
}

.total-cases h2 {
    color: #555555;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
}

.country p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.img-earth {
    width: 100%;
    height: auto;
}

.desc-virus h1 {
    color: #333333 !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}

.line {
    width: 24%;
    height: auto;
}

.description {
    color: #555555 !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.list {
    color: #555555 !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.list img {
    width: 5%;
    height: auto;
    margin-right: 10px;
}

.img-btn-contact {
    width: 20%;
    height: auto;
}

@media (max-width:767px) {
    .total-cases p {
        font-size: 10px;
    }

    .total-cases h2 {
        font-size: 14px;
    }

    .total-cases .text-secondary {
        font-size: 6px;
    }

    .country p {
        width: 200%;
        height: auto;
        font-size: 9px;
        margin-left: -25px;
    }

    .country p img {
        width: 20%;
    }

    .desc-virus h1 {
        font-size: 18px;
    }

    .line {
        width: 40%;
    }

    .description {
        font-size: 10px;
    }

    .list {
        font-size: 10px;
    }

    .img-btn-contact {
        width: 50%;
    }
}

.bg-linear-need {
    background: linear-gradient(339.88deg, #64cf83 47.7%, #ffffff 47.71%);
}

.line-blue {
    width: 18%;
    margin: 0 auto;
    border: 2px solid #64cf83;
    opacity: 1;
}

.card {
    margin: 0 150px;
    border-radius: 30px !important;
}

.img-responsive-need {
    width: 100%;
    object-fit: cover;
}

.number-name {
    font-size: 15px;
}

.number-name .name-contact,
.numb-contact {
    margin: 0;
}

.input-group {
    width: 100%;
}

.text-area {
    height: 100px;
}

.form-control,
.input-group-text {
    background-color: #f4f4f4;
}

.footer {
    padding-top: 100px;
    color: #fff;
}

.right-footer {
    text-decoration: none;
}

.text-spacing {
    letter-spacing: 0.02em;
}

.line-green-prevention {
    width: 7%;
    margin: 0 auto;
    border: 2px solid #64CF83;
    opacity: 1;
}

.description-prevention {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    margin-bottom: 60px;
}

.padding-p {
    padding: 10px 7%;
}

.margin-img {
    margin-top: -50px;
    margin-bottom: 30px;
}

.border-item {
    border: 1px solid white;
    box-shadow: 0px 0px 44px -5px rgb(102 102 102 / 10%);
    border-radius: 25px;
}

.dark-grey {
    color: #333333;
}

.light-grey {
    color: #777777;
}

.mrml-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mb-0 {
    margin-bottom: 0;
}

.black {
    color: black !important;
}

.green {
    color: #44B564 !important;
}

.border {
    border-bottom: #44B564 5px solid;
}

.middle {
    margin: auto;
}

.ml-35 {
    margin-left: 35px;
}

.mtop-10 {
    margin-top: 10px;
}

.red {
    color: #FF0000;
}

.white {
    color: white;
}

.gray {
    color: #5c5959;
}

.btn-green {
    background-color: #44B564;
    color: white;
    width: 125px;
    height: 36px;
    border-radius: 20px;
    border: #44B564 1px solid;
}

.mw-55 {
    max-width: 55%;
}

.mw-78 {
    max-width: 78%;
}

.ml-15 {
    margin-left: 15%;
}

.textheader p {
    font-size: 20px;
}

@media (max-width: 575.98px) {
    .mt-20k {
        margin-top: 20px;
    }
}

.Symptoms {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.Symptoms .head {
    position: relative;
}

.Symptoms .head .border-bottom {
    position: absolute;
    border-bottom: solid 3px rgba(100, 207, 131, 1) !important;
    left: 25%;
    right: 25%;
    bottom: 0;
}


.Symptoms .left {
    position: absolute;
    left: 0px;
    top: 170px;
}

.Symptoms .right {
    position: absolute;
    right: 0;
    top: 450px;
}

.coba {
    background: linear-gradient(339.88deg, #64CF83 47.7%, #FFFFFF 47.71%);
}


.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.w-45 {
    width: 45%;
}

.color-grey {
    color: rgba(119, 119, 119, 1);
}